/* -------------- Body Styling -------------- */
body{
    color: white;
    background-color: black;
}

/*-- FONT USAGE --*/
/*
Headings - ANTA Weight 400
Copy     - Afacad Flux
Buttons  - Kode Mono
*/

/* -------------- NavBar Styling -------------- */
#navbar-container{
    margin: 10px 10px 10px 10px;
}

.navbar{
    padding: 15px 30px 15px 30px;
    border-radius: 30px !important;
    color: white
    
}

/*Background Styling */
.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
  padding-bottom: 30px;
}

/* -------------- Landing Page Styling -------------- */
#landing-page{
 text-align: center;
 height: 100vh;
 overflow: hidden;
}

#landing-page-container{
    background: #000;
    max-width: 500px;
    margin: 0 auto;
    padding: 50px;
    background-color: black;
    margin-top: 100px;
    border-radius: 25px;
    animation: mymove 2s infinite;
  }
/* Landing page Div Animation */
@keyframes mymove {
  50% {box-shadow: 0px 0px 50px #c43f3fc0;}
}

/*Text and Button Styling */
/*Landing Page Heading */
#landing-page-heading{
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/*Landing Page Content*/
#landing-page-content{
  font-family:"Afacad Flux", sans-serif;
  font-size: 18px;
}

/*Button Styling*/
.landing-btn{
  background-color: #7D1935 !important;
  border: none !important;
  padding:10px 20px 10px 20px !important;
  margin: 0 5px 0 5px;
  border-radius: 20px;
  color: white;
  transition: font-size 1.2s;
  font-family: "Kode Mono",monospace;
  font-weight: 600;
}

.landing-btn:hover {
  background-color: #E63E6D !important;
  font-size: 20px;
  color: #3D111C !important;
  font-weight: bold;
}


  

/* -------------- Portfolio Section Styling -------------- */



/* -------------- Contact Section Styling -------------- */



/* -------------- Footer Section Styling -------------- */