/* -------------- Body Styling -------------- */
body{
    color: white;
    background-color: black;
}


/* -------------- NavBar Styling -------------- */
#navbar-container{
    margin: 10px 10px 10px 10px;
    
    
}

.navbar{
    padding: 15px 30px 15px 30px;
    border-radius: 30px !important;
    color: white
    
}

/*Background Styling */
.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
  padding-bottom: 30px;
}




/* -------------- Landing Page Styling -------------- */
#landing-page{
 
}

#landing-page-container{
    padding: 30px;
    background: #000;
    max-width: 500px;
    margin: 0 auto;
    padding: 50px;
    background-color: black;
    box-shadow: 0 0 24px 0 rgba(255, 0, 0, 0.26), 0 1px 0 0 rgba(255, 0, 0, 0.02) !important;
    margin-top: 100px;
    border-radius: 25px;
  }




/* -------------- Portfolio Section Styling -------------- */



/* -------------- Contact Section Styling -------------- */



/* -------------- Footer Section Styling -------------- */