/* -------------- Body Styling -------------- */
body{
    color: white;
    background-color: black;
}


/* -------------- NavBar Styling -------------- */
#navbar-container{
    margin: 10px 10px 10px 10px;
    
    
}

.navbar{
    padding: 15px 30px 15px 30px;
    border-radius: 30px !important;
    color: white
    
}



/* -------------- Landing Page Styling -------------- */



/* -------------- Portfolio Section Styling -------------- */



/* -------------- Contact Section Styling -------------- */



/* -------------- Footer Section Styling -------------- */